*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body
{
background-image: url(datascience.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;
}
.menu-bar
{
background: #ff6666;
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: rgb(0,0,100);
}
.menu-bar ul li
{
width: 120px;
margin: 15px;
}
.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
background: #8a7579;
border-radius: 3px;
}
.menu-bar .fa
{
margin-right: 8px;
}
.sub-menu-1
{
display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
display: block;
position: absolute;
background: #ff6666;
margin-top: 15px;
margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
width:150px;
padding:15px;
border-bottom: 1px dotted #fff;
background: #ff6666;
border-radius:0;
text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
color: #b2ff00;
}
.fa-angle-right
{
float: right;
color: #fff;
}
.sub-menu-2
{
display: none;
}
.hover-me:hover .sub-menu-2
{
position: absolute;
display: block;
margin-top: -40px;
margin-left: 140px;
background: transparent;
}
.ds{
	text-align:"center";
	color:#fff;
}
.submit-btn{
width:10%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: auto;
background: linear-gradient(to right, #ff105f,#ffad06);
border: 0;
outline: none;
border-radius: 30px;

}
.data
{
	color:#fff;
	text-align:center;
}
.para
{
	color:#fff;
}
.images
{
	width:120px;
	height:120px;
}












